<div class="mx-auto md:w-2/3 w-full">

  <%= render "form", shopping_category: @shopping_category %>

  <%= link_to "Back", shopping_categories_path, class: "ml-2 btn-secondary" %>
  <div class="inline-block ml-2">
  <%= button_to "Delete", shopping_category_path(@shopping_category), method: :delete, data: { turbo_confirm: "Are you sure?" },
    class: "bg-red-100 btn-secondary" %>
</div>
</div>
