<div class="w-full">

  <% if notice.present? %>
    <div class="flash_notice" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Shopping categories</h1>
    <%= link_to "New", new_shopping_category_path, class: "btn-primary font-medium" %>
  </div>

  <div id="shopping_categories" class="min-w-full">
    <%= render @shopping_categories %>
  </div>
</div>
