<div class="w-full">

  <% if notice.present? %>
    <div class="flash_notice" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="">
    <%= link_to new_shopping_category_path, class: "btn-primary" do %>
      <%= render partial: "svgs/plus_document", locals: { classes: "" } %>
    <% end %>
  </div>

  <div id="shopping_categories" class="min-w-full">
    <%= render @shopping_categories %>
  </div>
</div>
