<div class="w-full">

  <% if notice.present? %>
    <div class="flash_notice" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <%= link_to new_shopping_category_path, class: "my-4 px-3 btn-primary flex justify-between rounded-xl font-medium" do %>
    New Category
    <%= render partial: "svgs/plus_document", locals: { classes: "" } %>
  <% end %>

  <div id="shopping_categories" class="min-w-full">
    <%= render @shopping_categories %>
  </div>
</div>
