<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-xl">New shopping category</h1>

  <%= render "form", shopping_category: @shopping_category %>

  <%= link_to "Back", shopping_categories_path, class: "ml-2 btn-secondary" %>
</div>
