<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-xl">New shopping category</h1>

  <%= render "form", shopping_category: @shopping_category %>

  <div class="mt-2 flex">
  <%= link_to shopping_categories_path, class: " btn-secondary" do %>
      <%= render partial: "svgs/arrow_left_circle", locals: { classes: "" } %>
  <% end %>
  </div>

</div>
