<div class="w-full">
  <% if notice.present? %>
    <div class="flash_notice" id="notice">
      <%= notice %>
      </div>
  <% end %>

  <div class="">
    <%= link_to "New recipe", new_recipe_path, class: "btn-primary block font-medium" %>
  </div>

  <div id="recipes" class="min-w-full">
    <%= render @recipes %>
  </div>
</div>
