<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-6 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Shopping items</h1>
    <%= link_to "New", new_shopping_item_path, class: "btn-primary font-medium" %>
  </div>

  <div id="shopping_items" class="min-w-full">
    <%= render @shopping_items %>
  </div>
</div>
